[user]
	name = Muhammad Talha
	email = muhammadtalha.quant@gmail.com
	signingkey = PUBLIC_KEY_ID
	useConfigOnly = true
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg2
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
